body {
  background-color: #000;
  margin: 0;
  overflow: hidden;
}

/* ---- small PiP ---- */
#sketch-view {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 240px;
  height: 180px;
  z-index: 10;
  border: 2px solid #fff;
  border-radius: 10px;
}

#sketch-video {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 240px;
  height: 180px;
  z-index: 9;
  border: 2px solid #fff;
  border-radius: 10px;
  object-fit: cover;
}
